# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
db.sqlite3
db.sqlite3-journal

# Environment variables
.env
.env.*

# Virtual environment
scnowapp/
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Test / coverage
.coverage
htmlcov/
.pytest_cache/

# Static / media
staticfiles/
media/

# Secrets / local files
*.pem
*.key